extends ../../layouts/layout.pug

block title
     div Thêm sản phẩm

block action
     sl-button(type="submit" size="small" variant="primary") Thêm mới

block css
     link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/file-upload-with-preview@6.1.2/dist/style.min.css")
     link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.default.min.css")
     link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/viewerjs@1.11.7/dist/viewer.min.css")


block script

     script(src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.js") 
     script(src="/node_modules/tinymce/tinymce.min.js") 
     script(src="/assets/js/tinymce-config.js")
     script(
          src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"
     ) 
     script(
          src="https://cdn.jsdelivr.net/npm/autonumeric@4.10.8/dist/autoNumeric.min.js"
     )
     script(src="https://cdn.jsdelivr.net/npm/file-upload-with-preview@6.1.2/dist/index.iife.min.js") 
     script(src="https://cdn.jsdelivr.net/npm/viewerjs@1.11.7/dist/viewer.min.js")
     script(src="/admin/assets/js/products/create.js")

block main

     div(class="flex flex-col gap-y-[20px]") 
          include create/info-basic.pug
          include create/price-and-assets.pug           
          include create/description.pug           
          include create/seo.pug           
