extends ./layout.pug

block layout
	style.
		body {
			margin: 0;
		}
		[bg-login] {
			background-image: url("/admin/assets/images/bg-1.jpg");
			background-size: cover;
			background-position: center;
			height: 100vh;
		}
	block main