extends ../../layouts/layout.pug
block main
  div(class="page-content bg-light") 
    include section-1.pug
    include section-2.pug
    include section-3.pug
    include section-4.pug
    include section-5.pug
