// Products  Section Start
section(
  x-data="{ open: false }",
  class="pt-10 pb-5 3xl:pt-25 3xl:pb-17 md:pt-17 md:pb-10 sm:pt-13.5 sm:pb-5"
)
  div(class="container")
    include section-6.pug
  include section-7.pug
  // Products Section Start
  include section-8.pug
  include section-9.pug
  include section-10.pug
  include section-11.pug
  include section-12.pug
  include section-13.pug
  include section-14.pug
  include section-15.pug
  include section-16.pug
  include section-17.pug
  include section-18.pug
  // Product End
