@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

body {
     font-family: "Hanken Grotesk", sans-serif;
     font-weight: 400;
     font-style: normal;
}

[css-hover-text]:hover * {
     color: white;
}

.no-scrollbar::-webkit-scrollbar {
     display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
     -ms-overflow-style: none;
     /* IE and Edge */
     scrollbar-width: none;
     /* Firefox */
}

sl-input::part(base):focus-within {

     box-shadow: none;
}

sl-select::part(combobox):focus-within {

     box-shadow: none;
}

sl-select::part(combobox):focus-within {
     box-shadow: none;
}

sl-select:not(.select--disabled)::part(combobox) {
     box-shadow: none;
}

sl-select::part(tag__base) {
     display: flex;
     flex-direction: row-reverse;
     column-gap: 7px;
     background-color: transparent;
     border-radius: 15px;
     margin-inline: 5px;
     border: none;
}

sl-tag[variant="neutral"]::part(base) {
     background-color: var(--red);
}

sl-select::part(tag__remove-button) {
     color: var(--pink);
}

sl-option::part(base) {
     font-size: 14px;
     background-color: transparent;
     color: var(--color-text);
}

sl-option::part(base):hover {
     background-color: transparent;
     background-color: var(--light);
}

*[required]::part(form-control-label)::after {
     content: none;
}

*[required]::part(form-control-label)::before {
     content: '*';
     margin-right: 10px;
     color: var(--red);
     font-size: 15px;
}

*::part(form-control-label) {
     color: var(--color-text);
}

sl-details::part(summary) {
     font-weight: bolder;
     color: var(--color-text);
     font-size: 15px;
}

sl-details::part(header) {
     padding-block: 10px;
     border-bottom: 1px solid #e0e0e0;
}

sl-radio-group::part(form-control-input) {
     display: flex;
     column-gap: 30px;
}

sl-switch::part(control) {
     background-color: transparent;
     border-color: #10A786;
}

sl-switch::part(thumb) {
     /* border-color: #10A786; */
}

/* sl-switch:not(.switch--checked)::part(thumb) {
     background-color: #10A786 !important;
     border-color: red;
} */

sl-switch[checked]::part(thumb) {
     background-color: #10A786 !important;
     border: none;
     background-image: url("/assets/images/tick.svg");
     background-size: contain;
}


/* Tom Select */

.ts-control{
     box-shadow: none;
     padding: 0px;
     padding-inline: 10px;
     padding-block: 5px;
}

.ts-wrapper.single .ts-control {
     box-shadow: none;
     background-color: white;
     background-image: none;
     background-repeat: repeat-x;
}

.ts-wrapper.multi .ts-control [data-value].active {
     background-color: var(--light);
     background-image: none;
     background-repeat: repeat-x;
     color: var(--color-text);
     border: none;
}

.ts-dropdown .active {
     background-color: var(--light);
     color: var(--color-text);
}

.ts-wrapper.multi .ts-control [data-value] {
     display: flex;
     flex-direction: row-reverse;
     border-radius: 3px;
     background-color: none;
     background-image: none;
     background-repeat: unset;
     box-shadow: none;
     text-shadow: none;
     text-wrap: wrap;
}

.focus .ts-control{
     box-shadow: none;
    
}

.ts-wrapper{
 min-height: 0px;
}

.ts-wrapper.plugin-remove_button:not(.rtl) .item .remove {
     border-left: 0px;
     margin-right: 6px;
     margin-left: 0px;
     font-size: large;
     color: var(--pink);
}


.ts-wrapper.multi .ts-control>div {
     background: none;
     color: var(--color-text);
     border: none;
}

/* Hết Tom Select */

/* Table */
table,
th,
td,
td.sticky {
     border: 1px solid var(--light);
}

/* Hết Table */

/* File Upload Preview */

[data-upload-id] .label-container,
[data-upload-id] .input-visible,
[data-upload-id] .input-container {
     display: none;
}

[data-upload-id] .image-preview{
     min-height: 75px;
     height: auto !important;
     background-image: none !important;
     padding: 0px !important;
     background-color: var(--light) !important;
     border-radius: 10px !important;
}

[data-upload-id] .image-preview-item{
     aspect-ratio: 1/1;
     width: auto !important;
     border-radius: 15px;
     margin: 5px !important;
     height: 65px;
}
[data-upload-id] .image-preview-item-clear {
     bottom: 0px !important;
     left: auto !important;
     right: -6px !important;
}
/* Hết File Upload Preview */

.ts-dropdown{
     box-shadow: none !important;
     border-radius: 10px;
     overflow: hidden;
}
.ts-dropdown [data-selectable].option{
     text-wrap: auto;
}

[count-character]{
     background-color:  var(--green);
     color: var(--white);
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     height: 100%;
     aspect-ratio: 1/1;
     display: flex;
     align-items: center;
     justify-content: center;

}

sl-button[variant = "success"]::part(base) {
     background-color: var(--green);
     border: none;
}
.tox .tox-statusbar__branding a{
     display: none !important;
}

sl-radio::part(control--checked){
     background-color: transparent;
     border: 1px solid var(--green);
     color: var(--green);
}

.swal2-title{
     font-size: 20.8px;
}
.swal2-html-container{
      font-size: 17.6px;
}
.swal2-actions{
     width: 70%;
}

.swal2-actions > *{
     flex: 1;
     border-radius: 0.75rem !important;
}

.tox-promotion{
     display: hidden;
     opacity: 0;
}

.is-label-invalid {
     color: #D52B1E;
     margin-top: 4px;
     font-size: 14px;
     display: block;
}