@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
     font-family: "Be Vietnam Pro", sans-serif;
     font-weight: 400;
     font-style: normal;
}

[css-hover-text]:hover * {
     color: white;
}

.no-scrollbar::-webkit-scrollbar {
     display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
     -ms-overflow-style: none;
     /* IE and Edge */
     scrollbar-width: none;
     /* Firefox */
}

sl-input::part(base):focus-within {

     box-shadow: none;
}
sl-input::part(base){
     background-color: transparent;
}
sl-select::part(combobox):focus-within {

     box-shadow: none;
}

sl-select::part(combobox):focus-within {
     box-shadow: none;
}

sl-select:not(.select--disabled)::part(combobox) {
     box-shadow: none;
}

sl-select::part(tag__base) {
     display: flex;
     flex-direction: row-reverse;
     column-gap: 7px;
     background-color: transparent;
     border-radius: 15px;
     margin-inline: 5px;
     border: none;
}

sl-tag[variant="neutral"]::part(base) {
     background-color: var(--red);
}

sl-select::part(tag__remove-button) {
     color: var(--pink);
}

sl-option::part(base) {
     font-size: 14px;
     background-color: transparent;
     color: var(--color-text);
}

sl-option::part(base):hover {
     background-color: transparent;
     background-color: var(--light);
}

*[required]::part(form-control-label)::after {
     content: none;
}

*[required]::part(form-control-label)::before {
     content: '*';
     margin-right: 10px;
     color: var(--red);
     font-size: 15px;
}

*::part(form-control-label) {
     color: var(--color-text);
}

sl-details::part(summary) {
     font-weight: bolder;
     color: var(--color-text);
     font-size: 15px;
}

sl-details::part(header) {
     padding-block: 10px;
     border-bottom: 1px solid #e0e0e0;
}

sl-radio-group::part(form-control-input) {
     display: flex;
     column-gap: 30px;
}

sl-switch::part(control) {
     background-color: transparent;
     border-color: #10A786;
}

sl-switch::part(thumb) {
     /* border-color: #10A786; */
}

/* sl-switch:not(.switch--checked)::part(thumb) {
     background-color: #10A786 !important;
     border-color: red;
} */

sl-switch[checked]::part(thumb) {
     background-color: #10A786 !important;
     border: none;
     background-image: url("/assets/images/tick.svg");
     background-size: contain;
}

/* Table */
table,
th,
td,
td.sticky {
     border: 1px solid var(--light);
}

/* Hết Table */




[count-character]{
     background-color:  var(--green);
     color: var(--white);
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     height: 100%;
     width: auto;
     aspect-ratio: 1/1;
     display: flex;
     align-items: center;
     justify-content: center;

}

sl-button[variant = "success"]::part(base) {
     background-color: var(--green);
     border: none;
}
.tox .tox-statusbar__branding a{
     display: none !important;
}

sl-radio::part(control--checked){
     background-color: transparent;
     border: 1px solid var(--green);
     color: var(--green);
}

.swal2-title{
     font-size: 20.8px;
}
.swal2-html-container{
      font-size: 17.6px;
}
.swal2-actions{
     width: 70%;
}

.swal2-actions > *{
     flex: 1;
     border-radius: 0.75rem !important;
}

.tox-promotion{
     display: hidden;
     opacity: 0;
}

.is-label-invalid {
     color: #D52B1E;
     margin-top: 4px;
     font-size: 14px;
     display: block;
}

.swal2-toast .swal2-title {
     white-space: normal !important;
     overflow-wrap: break-word;
     text-align: left;
}