head
	// Title Meta
	meta(charset="utf-8")
	title Dashboard | Larkon - Responsive Admin Dashboard Template
	meta(content="width=device-width, initial-scale=1.0", name="viewport")
	meta(
		content="A fully responsive premium admin dashboard template",
		name="description"
	)
	meta(content="Techzaa", name="author")
	meta(content="IE=edge", http-equiv="X-UA-Compatible")
	block css
	link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/daisyui@5" type="text/css" )
	script(src="https://cdn.tailwindcss.com")
	script(src="/tailwind.config.js")
	link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css")
	link(rel="stylesheet", href="/admin/assets/css/style.css")
	link(rel="stylesheet", href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css")
