div(class="flex justify-between items-center sticky top-0 z-[100] shadow-lg px-[20px] py-[10px] bg-[white] opacity-[90%]") 
     h2(class="font-bold text-[20px] text-[#626262]")
          block title
     div(class="flex items-center gap-x-[20px]")
          block action
          //- sl-button ok
