header(
    class="bg-[white] w-[-webkit-fill-available] flex justify-between items-center border-b-[0.5px] border-[#D3D3D3] px-[20px] py-[15px]"
)
    h1(class="font-bold text-[25px]") WEDE - Đồng tâm xây thắng lợi
    div(class="")
        span(class="") Xin chào,
        b Kim Quang
